<template>
    @Html.Partial("Header")
    @Html.Partial("Navigation")
    <!-- MAIN PANEL -->
    <div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div id="content">
            <div class="page-host">
                <router-view></router-view>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->
    @Html.Partial("Footer")

</template>